body {
    margin: 0;
    background-color: #1c1c1c;
}

.app-container {
    margin: 100px auto;
    width: 400px;
    height: 300px;
    padding: 90px 50px;
    background-color: #1f2937;
    border-radius: 15px;
}

#title {
    color: white;
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    margin-bottom: 30px;
}

.title-color {
    color: #4adf86;
}

#app-dscrpt {
    color: #d5d4d8;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
}

#generate-btn {
    background-color: #10b981;
    color: white;
    font-family: 'Inter', sans-serif;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
}

#result-section {
    border-top: 1px solid #2f3e53;
    margin-top: 30px;
    display: flex;
    padding-top: 20px;
}

.results {
    background-color: #273549;
    width: 200px;
    height: 40px;
    border-radius: 4px;
    color: #55f991;
    font-family: 'Inter', sans-serif;
    align-content: center;
    text-align: center;
}

#result1 {
    margin-right: 15px;
}